body, p, h1, h2, button {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.game-title {
    color: lightblue;
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
}

.start-btn:hover {
    background-color: #4fabc9;
}

.start-btn {
    background-color: lightblue;
}

.reset-btn:hover {
    background-color: #ff0000;
}

.reset-btn {
    display: none;
    color: white;
    background-color: #ff6666; 
    width: 15vw;
    height: 5vh;
    margin: 18px;
    font-size: 15px;
    font-weight: bold;
    border: none;

}


.index-btn {
    color: white;
    width: 15vw;
    height: 5vh;
    margin: 18px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}


.content-container {
    background-color: white;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-div {
    background-color: white;
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    justify-content: center;
}

.pattern.game-btn {
    opacity: .2;
}

.game-btn {
    pointer: none;
    margin: 1px;
    width: 20vh;
    height: 20vh;
    border-radius: 15%;
    border: solid;
    border-width: 5px;
    border-color: white;
}

.active-btn:hover {
    pointer: auto;
    opacity: .65;
    border-color: grey;
}

.btn-one {
    background-color: #ff3300;
}

.btn-two {
    background-color: #3333ff;
}

.btn-three {
    background-color: #00cc00;
}

.btn-four {
    background-color: yellow;
}

.scoreboard {
    color: white;
    background-color: lightblue;
    height: 5vh;
    width: 30vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
